body{
	background-color:none;
	font-family: 'Sanchez', serif;
	background-size: 100%;
    background-image: url(images/background.jpeg);
}
.jumbotron{
	background-color: white;
	box-shadow: 1px 1px 5px 1px black;
	background-image: url(images/Ramen.jpg);
	color:white;
	font-weight: bold;
}

.images {
	height:325px;
	width:325px;
	margin-left: 17PX;
	margin-top: 10px;
}
.nav-wrapper{
	background-color:black;
}

.footer{
	text-align: center;
	
}

.panel-primary > .panel-heading {
background: black;
color: white;
box-shadow: 1px 1px 10px black;
}

.panel-body:{
	box-shadow: 1px 1px 1px black;
	background-color: blue;
}

.panel {
	box-shadow: 1px 1px 1px black;

}
.page-footer{
	background-color: #000;

}

.card-image img{

	height:325px;

}

/*.card-title{
 text-shadow: 0 1px 0 black;
}*/




.card-title {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px 10px;
  background: inherit;
  background-attachment: fixed;
  overflow: hidden;
}
.card-image::before {
  content: "";
  color:white;
  position: absolute;
  top: -20px;
  left: 0;
  width: 200%;
  height: 200%;
  background: inherit;
  background-attachment: fixed;
  -webkit-filter: blur(4px);
  filter: blur(4px);
}
.card-image::after {
  content: "";
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.25)
}

.card-title {
  color: white;
  z-index: 1;
}


.center-div
{
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 3px;
}




