body{
	background-color:none;
	font-family: 'Sanchez', serif;
	background-size: 100%;
}
.jumbotron{
	background-color: white;
	box-shadow: 1px 1px 5px 1px black;
	background-image: url(images/Ramen.jpg);
	color:white;
	font-weight: bold;
}

.images {
	height:325px;
	width:325px;
	margin-left: 17PX;
	margin-top: 10px;
}
.nav-wrapper{
	background-color:black;
}

.footer{
	text-align: center;
	
}

.panel-primary > .panel-heading {
background: black;
color: white;
box-shadow: 1px 1px 10px black;
}

.panel-body:{
	box-shadow: 1px 1px 1px black;
	background-color: blue;
}

.panel {
	box-shadow: 1px 1px 1px black;

}
.page-footer{
	background-color: #000;

}






